//@import "~bootstrap/scss/bootstrap";

//$mainblue: #7ad3ff;
$mainblue: #4C8EB6;
//$backgroundGreen: #8CDFD6;
$backgroundGreen: #F7F5F7;
$greenBrand: #86CBA5;
$greenAccent: #98CABA;
$mainGreen: #558c6f;
$mainRed: #ff4b4b;
$altBlue: #3AAED8;
$altBlueDark: #2E8EB6;
$blurple: #7289DA;
$blurpleDark: #5B6EBB;

html, body {
  height: 100vh;
  box-sizing: border-box;
}

#root {
  background-color: $mainblue;
}

.main {
  position: relative;
  margin: 0 auto 0;
  padding-bottom: 10%;
  width: calc(100% - 40px);
  max-width: 935px;
  min-height: 100vh;
  display: block;
  overflow: auto;
  background-color: $backgroundGreen;
  box-shadow: rgb(62, 62, 62) 0px 0px 10px;
}

#mainnav {
  background-color: #fff !important;

  .nav-link {
    color: $altBlue;
  }

  .nav-link:hover {
    color: $mainblue;
    text-decoration: underline;
  }
}

.toast {
  position: absolute;
  top: 95vh;
  left: 70%;
  font-family: 'prestige-elite-std', sans-serif;
  font-weight: 900;
  background-color: #fff;
  color: $mainGreen;
  text-align: center;
  border: solid 2px $mainGreen;
  border-radius: 1em;
  white-space: pre-wrap;
}

.toast.error {
  color: $mainRed;
  border: solid 2px $mainRed;
}

.form-group {
  input {

  }
}

.main-nav {
  margin-bottom: 20px;
}

.bg-light {
  background-color: #F7F5F7 !important;
}

.navbar-brand {
  cursor: pointer;
}

.modal-dialog {
  background-color: #fff;
  height: 40vh;

  .modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .row {
      margin: 0 10px;
    }

    .close {
      margin: 0 10px;
    }
  }

  .modal-content {
    height: inherit;
  }

  .modal-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .confirm.btn {
        background-color: $mainRed !important;
        // margin: 15px;
        // width: 100%;
    }
  }
}

.results {
  .preview {
    height: 300px;
    object-fit: fill;
    cursor: pointer;

    .card {
      height: 100%;
      background: transparent;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .card-overlay {
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;

        .card-title {
          font-size: 24px;
        }
      }
    }
  }
}