//@import "~bootstrap/scss/bootstrap";

//$mainblue: #7ad3ff;
$mainblue: #4C8EB6;
//$backgroundGreen: #8CDFD6;
$backgroundGreen: #F7F5F7;
$greenBrand: #86CBA5;
$greenAccent: #98CABA;
$mainGreen: #558c6f;
$mainRed: #ff4b4b;
$altBlue: #3AAED8;
$altBlueDark: #2E8EB6;
$blurple: #7289DA;
$blurpleDark: #5B6EBB;

html, body {
  height: 100vh;
  box-sizing: border-box;
}

#root {
  background-color: $mainblue;
}

.main {
  position: relative;
  margin: 0 auto 0;
  padding-bottom: 10%;
  width: calc(100% - 40px);
  max-width: 935px;
  min-height: 100vh;
  display: block;
  overflow: auto;
  background-color: $backgroundGreen;
  box-shadow: rgb(62, 62, 62) 0px 0px 10px;
}

.toast {
  position: sticky;
  bottom: 5%;
  left: 100%;
  font-family: 'prestige-elite-std', sans-serif;
  font-weight: 900;
  background-color: #fff;
  color: $mainGreen;
  text-align: center;
  border: solid 2px $mainGreen;
  border-radius: 1em;
  white-space: pre-wrap;
}

.toast.error {
  color: $mainRed;
  border: solid 2px $mainRed;
}

.form-group {
  input {

  }
}

.main-nav {
  margin-bottom: 20px;
}

.bg-light {
  background-color: #F7F5F7 !important;
}