@import 'main';

@media (min-width: 0px) {
  .settings {
    height: 100vh;

    .user-info {
      height: 70%;
      align-content: center;
      margin: 50px 10px;
      
      .display-info {
        margin: 20px 0;
        padding: 0;
        display: grid;
        justify-content: center;
      }

      .display-info img {
        height: 124px;
        width: 124px;
        border: 1px solid;
        object-fit: contain;
        margin: 5px 20px;

        .row {
          margin: 20px;
        }
      }

      .file-uploader {
        width: 35px;
        background: none;
        border: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 100%;
        bottom: 40%;

        svg {
          color: $mainblue;
          width: 32px;
          height: 32px;
        }
      }

      .file-uploader:hover {
        cursor: pointer;
      }

      .display-name {
        padding: 0;
      }

      .username {
        margin: 5px;
      }

      .subtitle {
        font-size: 14px;
      }
      
      .custom-control label {
        margin-top: 10px;
        font-size: 14px;
        width: 190px;
        height: 20px;
      }

      .custom-control label::before {
        width: 30%;
        height: 100%;
        top: 0.1rem;
        border: 1px #000 solid;
        //background-color: rgb(181, 181, 181);
      }

      .custom-control label::after {
        width: 1rem;
        height: 1rem;
        left: calc(-2.25rem + 25px);
        top: 0.22rem;
        transform: translateX(-1.3rem);
      }
    }

    .save-settings {
      display: flex;
      justify-content: flex-end;
      margin-right: 15px;
    }

    .save-settings {
      .btn{
          margin-right: 20px;
          width: 200px;
          border: 1px solid;
          border-radius: 20px;
          background-color: $altBlue;
      }

      .btn:hover {      
      background-color: $altBlueDark;
      }
    }

    .error {
      color: $mainRed;
      font-size: 14px;
    }

    button {
      background-color: #2364AA;
    }

    input {
      border-color: #2364AA;
    }
  }

}

@media (min-width: 576px) {
  .settings {

    .user-info {
      height: 45%;
    }
  }
}

@media (min-width: 768px) {
  .settings {

    .user-info {
      height: 45%;
    }
  }
}

@media (min-width: 992px) {
  .settings {

    .user-info {
      height: 45%;
    }
  }
}